<div class="card">
  <div class="card-header CustTitle">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <input class="Custfield" type="text" [(ngModel)]="listfilter" placeholder="Filter By" name="Filter" id='Filter'/>
      </div>
    <div class="row">
      <!-- <div class="col-md-6">
        <h4>Filtered by: {{ listfilter }}</h4>
      </div> -->
    </div>
    <div class="table-responsive" *ngIf="Photographers && Photographers.length">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Field of Expertise</th>
            <th>Country</th>
            <th>Email</th>
            <th>Price</th>
            <th>Mobile</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Prod of filteredPhotographers">
            <td>
              <a href={{Prod.proUrl}}>
                {{ Prod.Name }}
              </a>
            </td>
            <td>{{Prod.specialityField |nullToWord:'null'}}</td>

            <td>{{ Prod.country |nullToWord:'null' }}</td>

            <td>{{ Prod.email |nullToWord:'null' }}</td>

            <td>
              {{ Prod.price  | currency: "USD":"symbol":"1.2-4" }}</td>

            <td>{{ Prod.contactNo |nullToWord:'null' }}</td>

            <td>
              <pm-star
                [rating]="Prod.starRating"
                (ratingClicked)="onRatingClicked($event)"
              ></pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-page-num></app-page-num>
</div>
