<!--Footer-->

<img class="footerimg" src="../../assets/Images/footer/footer.png"/>
<!-- <div class="row footer-main-div">
    <div class="col footer-social-icons">
        <ul>
            <li><a (click)='gotoFacebook()' target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a (click)='gotoTwitter()' target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a target="blank" (click)='gotoLinkedIN()'><i class="fa fa-linkedin"></i></a></li>
        </ul>	
    </div>
    
</div> -->
<div class="row footerPower">© 2020 : FindGrapher</div>


<!--End of Footer-->	