<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
  </head>

  <body>
    <form [formGroup]="photographerSignUp" #photographerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="wrapper">
        <div class="shadow-none p-3 mb-5 bg-light rounded text-center">Photographer Registration</div>
        <div class="titile"></div>
        <div class="form">
          <div class="input-field">
            <label>First Name</label>
            <input type="text" name="name" class="input" formControlName="firstName" />
          </div>

          <div class="input-field">
            <label>Last Name</label>
            <input type="text" name="name" class="input" formControlName="lastName" />
          </div>

          <div class="input-field">
            <label>Country</label>
            <input type="text" class="input" formControlName="country" name="country" />
          </div>
          <div class="input-field">
            <label>City</label>
            <input type="text" name="city" class="input" formControlName="city" />
          </div>
          <div class="input-field">
            <label>Contact No</label>
            <input type="text" class="input" name="contactNo" formControlName="contactNo" />
          </div>
          <div class="input-field">
            <label>Email</label>
            <input type="text" class="input" name="email" formControlName="email" />
          </div>
          <div class="input-field">
            <label>Password</label>
            <input type="Password" class="input" name="password" #pass formControlName="password" />
          </div>
          <div class="input-field">
            <label>Confirm Password</label>
            <input type="Password" class="input" #Cpass (keyup)="passwordValidator(pass.value,Cpass.value)"
              formControlName="confirmPassword" />
            {{passwordMessage}}
          </div>

          <div class="input-field">
            <label>Gender</label>
            <div class="custom_select">
              <select formControlName="gender">
                <option value="" selected disabled></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <div class="input-field">
            <label>Speciality</label>
            <div class="checkBoxes" formGroupName="speciality">
              <input type="checkbox" name="speciality" id="1" formControlName="1"> Wedding Photography <br />
              <input type="checkbox" name="speciality" id="2" formControlName="2"> Event Photography <br />
              <input type="checkbox" name="speciality" id="3" formControlName="3"> Model Photography<br />
              <input type="checkbox" name="speciality" id="4" formControlName="4"> Product Photography <br />
              <input type="checkbox" name="speciality" id="5" formControlName="5"> Fashion Photography<br />
              <input type="checkbox" name="speciality" id="6" formControlName="6"> Sports Photography <br />
              <input type="checkbox" name="speciality" id="7" formControlName="7"> Architectural Photography <br />
              <input type="checkbox" name="speciality" id="8" formControlName="8"> Travel Photography <br />
            </div>
          </div>


          <label style="color: aliceblue;">Choose Galary</label>
          <br>
          <hr><br>

          <div style="text-align: center">
            <div class="imgUploaderContainer">
              <button type="button" (click)="filePicker1.click()" class="imgUploader">{{imagePreview[0]==''? "Pick Image" : "Image Added"}}</button>
              <input type="file" #filePicker1 (change)="onImagePicked($event,1)" hidden>
            </div>
            <div class="imgUploaderContainer">
              <button type="button" (click)="filePicker2.click()" class="imgUploader">{{imagePreview[1]==''? "Pick Image" : "Image Added"}}</button>
              <input type="file" #filePicker2 (change)="onImagePicked($event,2)" hidden>
            </div>
            <div class="imgUploaderContainer">
              <button type="button" (click)="filePicker3.click()" class="imgUploader">{{imagePreview[2]==''? "Pick Image" : "Image Added"}}</button>
              <input type="file" #filePicker3 (change)="onImagePicked($event,3)" hidden>
            </div>
            <div class="imgUploaderContainer">
              <button type="button" (click)="filePicker4.click()" class="imgUploader">{{imagePreview[3]==''? "Pick Image" : "Image Added"}}</button>
              <input type="file" #filePicker4 (change)="onImagePicked($event,4)" hidden>
            </div>
            <div class="imgUploaderContainer">
              <button type="button" (click)="filePicker5.click()" class="imgUploader">{{imagePreview[4]==''? "Pick Image" : "Image Added"}}</button>
              <input type="file" #filePicker5 (change)="onImagePicked($event,5)" hidden>
            </div>
          </div>




          <div class="input-field terms">
            <label class="check">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
            <p>Agreed to the Terms and Conditions</p>
          </div>
          <div class="input_field">
            <input type="submit" value="Register" class="btn" />
          </div>
        </div>

      </div>
    </form>

  </body>

</html>
