<div class="pageNo">
  <div class="col align-items-center custCol">
    <i class="nx" routerLinkActive='active' [routerLink]="['/welcome']">Back>>></i>
    <i
      ><a class="custI" routerLinkActive="active" [routerLink]="['/welcome']"
        >1</a
      >
      &nbsp; &nbsp; &nbsp;
      <a class="custI" routerLinkActive="active" [routerLink]="['/welcome']"
        >2</a
      >
      &nbsp; &nbsp; &nbsp;
      <a class="custI" routerLinkActive="active" [routerLink]="['/welcome']"
        >3</a
      >
      &nbsp; &nbsp; &nbsp;
      <a class="custI" routerLinkActive="active" [routerLink]="['/welcome']"
        >4</a
      >
      &nbsp; &nbsp; &nbsp; <a class="custI" routerLinkActive='active' [routerLink]="['/welcome']">5</a>
    </i>
    <i class="nx" routerLinkActive='active' [routerLink]="['/welcome']">Next>>></i>
  </div>
</div>
