.nx{
    padding-right: 2rem;
    padding-left: 2rem;
    color: rgb(199, 153, 4);
}
.nx:hover{
    transition: 0.3ms;
    color: rgb(82, 88, 88);
}

.custI{
    color:rgb(82, 88, 88);
}

.custI:hover{
    transition: 0.3ms;
    color:rgb(199, 153, 4);
    pointer-events: visibleStroke;
}


.pageNo{
    padding-left: 22rem;
    justify-content: center;
    align-items: center;
    color: rgb(82, 88, 88);
}

