
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row introCust">
        <div class="col-justify-8 wordCust">
          Welcome to our website. <br />
          Our goal is to let every client find a photographer at their choice,<br />
          Who suites client's requirement and budget<br />
          A variety of photographers can be found through FindGrapher
          <h2 class="h2class">Hire Photographers for your function NOW!</h2>
        </div>
        <div src class="col-justify-4 imgCust">
          <img src="../../../assets/Images/logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="width: 100%">


  <div class="row sec1">
    <div class="col-lg-4">
      <div class="intro-section">
      <div class="ps">
      <a href="#p1" ><img src="../../../assets/Images/homejs/intro/1.jpg" alt="" /></a>
      </div>
      </div>
      </div>

    <div class="col-lg-4">
      <div class="intro-section">
  <div class="ps">
    <a href="#p2"><img src="../../../assets/Images/homejs/intro/2.jpg" alt=""/></a>
  </div>
    </div>
    </div>


    <div class="col-lg-4">
      <div class="intro-section">
    <div class="ps">
      <a href="#p3"><img src="../../../assets/Images/homejs/intro/3.jpg" alt=""/></a>
    </div>
      </div>
    </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
<div class="row regBanner">
  <div class="col cust1">
     <p class="custw1">Get Started!<br></p> 
      <p class="custw2 "><strong>If you are a photographer in search of an event, get registered with FindGrapher to explore an untouched client base.
     <br>If you are looking for a photographer to freeze the delightful moments of your life, try searching for a photographer who suites your requrement
    <br>If that doesn't help, Go for Advance search! We'll scrape you the details of photographers from the web</strong></p>
  </div>
  </div>
  </div>
  </div>
</div>


<div class="container-fluid sec2">
  <div class="row">
  <div class="col-lg-4">
    <div class="introtwo-section">
    <div class="pstwo">
      <a routerLinkActive='active' [routerLink]="['/register/photographer-register']"><img src="../../../assets/Images/homejs/intro/4.jpg" alt=""/></a>
    </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="introtwo-section">
    <div class="pstwo">
      <a routerLinkActive='active' [routerLink]="['/photographers']"><img src="../../../assets/Images/homejs/intro/5.jpg" alt=""/></a>
    </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="introtwo-section">
    <div class="pstwo">
      <a routerLinkActive='active' [routerLink]="['/photographers']"><img src="../../../assets/Images/homejs/intro/6.jpg" alt=""/></a>
    </div>
    </div>
  </div>
    </div>
  </div>

