<div style="text-align: center;">
  <button class="btn btn-warning m-1 shadow rounded" routerLink="all">All</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="wedding-photographers">Wedding Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="event-photographers">Event Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="model-photographers">Model Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="product-photographers">Product Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="fashion-photographers">Fashion Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="sports-photographers">Sports Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded" routerLink="archi-photographers">Architectural Photographers</button>
  <button class="btn btn-warning m-1 shadow rounded"  routerLink="travel-photographers">Travel Photographers</button>
</div>

<hr>
<p *ngIf="!isLogeddIn" class="error">You need to LogIn first</p>
<router-outlet></router-outlet>
